<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="PLSp-QG">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://information.qld.gov.au/service/Addressing/ValidationService/PLSplusQG/soap"
                binding="customBinding" bindingConfiguration="PLSp-QG" contract="ServiceReference1.PLSpQG"
                name="PLSp-QG" />
        </client>
    </system.serviceModel>
</configuration>